@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-primary-dark;
}

body {
  font-family: "Outfit", sans-serif;
}

.custom-editor .ql-editor {
  @apply text-base md:text-xl;
  line-height: 1.6;
  font-family: "Domine", sans-serif;
  @apply text-primary-dark;
}
