@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-primary-dark;
}

body {
  font-family: "Outfit", sans-serif;
}

.custom-editor .ql-editor {
  @apply text-base md:text-xl;
  line-height: 1.6;
  font-family: "Domine", sans-serif;
  @apply text-primary-dark;
  max-height: 80vh !important;
}

.ant-select-selector {
  border: none !important;
  border-bottom: 1px solid #c5c5c5 !important;
  border-radius: 0 !important;
}

.ant-popover-content {
  width: 120px !important;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #e6e6e6;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #da4933;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #f68a7a;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #f68a7a;
}
